Source: iris-hydra
Section: main
Priority: optional
Maintainer: Álvaro Castellano Vela <alvaro.castellano.vela@gmail.com>
Build-Depends: libdaedalus-hermes-perl, libdaedalus-iris-perl, libreadonly-perl, libjson-xs-perl, dh-systemd, debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://git.daedalus-project.io/daedalusproject/Iris-Hydra-Perl

Package: iris-hydra
Architecture: any
Depends: libdaedalus-hermes-perl, libdaedalus-iris-perl, libreadonly-perl, libjson-xs-perl, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
