[Unit]
Description=Multithread daemon which process Daedalus Project Notifications
Requires=network.target
After=network.target

[Service]
Type=single
SyslogIdentifier=iris-hydra
PIDFile=/var/run/iris-hydra/iris-hydra.pid
ExecStart=/usr/sbin/iris-hydra /etc/iris-hydra/conf /etc/iris-hydra/schemas
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /var/run/iris-hydra/iris-hydra.pid
KillMode=mixed

[Install]
WantedBy=multi-user.target
